<header>
  <h1>Velkommen til Mikrofest <%= current_user.email %></h1>
  <h2>Vi bruger Rails version <%= Rails.version %></h2>
</header>
<section>
  <ul>
    <li> <%= link_to "Gå til produktsøgning", products_path(), id: "productSearch" %> </li>
    <li> <%= link_to "Log ud", destroy_user_session_path(), method: :delete %> </li>
  </ul>
</section>
