<div class="row">
  <div class="col-md-10">
    <h1>Nyheder</h1>
  </div>
    <div class="col-md-2">
      <%= link_to "Opret nyhed", new_blog_post_path(), class: "btn btn-primary" %>
    </div>
</div>
